button{
    font-size: 30px;
    font-style: italic;
    color: white;
    padding: 15px 15px 15px 15px;
    background-color: green;
    width: 100px;
}

.count{
    font-size: 80px;
    color: black;
    padding: 15px 15px 15px 15px;
    background-color: white;
    width: 200px;
}

.reset{   
    color: white;
    padding: 15px 15px 15px 15px;
    background-color: red;
    width: 200px;
}

body{
    padding: 15px 15px 30px 30px;
}